# Don't track git config complete with email settings, since it changes between work/home
git/gitconfig.symlink

# Don't track emacs cachey things, like:
# - elpa downloads
# - projectile project dir
emacs/emacs.d.symlink/elpa
emacs/emacs.d.symlink/projectile-bookmarks.eld
