# Don't track emacs cachey things, like:
# - elpa downloads
# - projectile project dir
emacs/emacs.d.symlink/elpa
emacs/emacs.d.symlink/projectile-bookmarks.eld
emacs/emacs.d.symlink/projectile.cache
emacs/emacs.d.symlink/eshell/history
emacs/emacs.d.symlink/eshell/lastdir
vim/vim.symlink/pack
vim/vim.symlink/.netrwhist
